extends layout/main.pug

block content
    form.form-sec(action="/admin/added" method="POST")
        h1 Please enter the book details
        .form-element
        label(for="title") Enter Book Name
        input(type="text" name="title" id="")
        .form-element
        label(for="price") Enter Book Price
        input(type="number" name="price" id="")
        .form-element
        label(for="srcc") Enter Book image src
        input(type="text" name="srcc" id="")
        .form-element
        label(for="idd") Enter Book id
        input(type="number" name="idd" id="")
        button.btn(type="submit") Submit


